@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

input:checked + .toggle {
  @apply bg-[#A445ED];
}

input:checked + .toggle::before {
  @apply translate-x-[1.25rem];
}